@font-face {
    font-family: "KyoboHandwriting2020A";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 10px;
    font-family: "KyoboHandwriting2020A";
}

.nav-container {

    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 3rem;
  }

.nav-contact {
    font-size: 2.5rem;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.category-title {
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
}

.category-item {
    width:24.9%;
    height: 5rem;
    background: none;
    font-family: inherit;
    border: none;
    font-size: 1.6rem;
}

.category-item:hover {
    color: #e69a06;
    cursor: pointer;
}

.inner {
    padding: 0 1.5rem;
}

@media all and (min-width: 1024px) {
    .inner {
        max-width: 1024px;
        margin: auto;
    }
}