div {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
}

#target {
    background-color: yellow;
    position: sticky;
    left: 10px;
    top :20px;

}

.container {
    width: 400px;
    height:400px;
    position: relative;
}

#target2 {
    background-color: red;
    position: absolute;
    left: 30px;
    top: 30px;
}