@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Gamja Flower', cursive;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}